
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Text+Me+One" rel="stylesheet">

    <!-- font-awesome -->
    <link href="~/Contents/css/Font-awesome/font-awesome.min.css" rel="stylesheet" />

    <!-- bootstrap -->
    <link href="~/Contents/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Layout stylesheet -->
    <link rel="stylesheet" href="~/Contents/css/layout.css" />

    <!--Leaflet Stylesheet-->
    <link rel="stylesheet" href="~/Contents/css/leaflet/leaflet.css" />
    
    <!--Datepicker-->
    <link rel="stylesheet" href="~/Contents/css/bootstrap/datepicker.css" />
    
    <!--jquery-ui-->
    <link rel="stylesheet" href="~/Contents/css/bootstrap/jquery-ui.css" />

    <!--Datepicker-->
    <!--<link rel="stylesheet" href="~/Contents/css/datepicker.css" />-->

    <!--Pluggin leaflet.awesome-markers-->
    <link rel="stylesheet" href="~/Contents/css/leaflet/leaflet.awesome-markers.css" />



    @RenderSection("Styles", false)

</head>
<body>

    <div id="wrapper">
        <div id="header" class="container">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
    <div id="notificaciones">
        @Html.Partial("~/Views/Shared/_NotificacionesModal.cshtml")
    </div>
    <!-- jquery -->
    <script src="~/Contents/js/jquery-3.1.1.min.js"></script>

    <!-- bootstrap -->
    <script src="~/Contents/js/bootstrap.min.js"></script>

    <!--leaflet-->
    <script src="~/Contents/js/leaflet.js"></script>
    
    <!--Datepicker-->
    <script src="~/Contents/js/bootstrap-datepicker.js"></script>

    <!--jquery-ui.min-->
    <script src="~/Contents/js/jquery-ui.js"></script>

    <!--leaflet.awesome-marker-->
    <script src="~/Contents/js/leaflet.awesome-markers.js"></script>

    <!--leaflet.awesome-markers.min-->
    <script src="~/Contents/js/leaflet.awesome-markers.min.js"></script>

    <!--Ir atras-->
    <script type="text/javascript">
        function irAtras() {
            window.history.back();
        }
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
