
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Text+Me+One" rel="stylesheet">

    <!-- font-awesome -->
    <link href="~/Contents/css/Font-awesome/font-awesome.min.css" rel="stylesheet" />

    <!-- bootstrap -->
    <link href="~/Contents/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Layout stylesheet -->
    <link rel="stylesheet" href="~/Contents/css/layout.css" />

    <!--Leaflet Stylesheet-->
    <link rel="stylesheet" href="~/Contents/css/leaflet/leaflet.css" />
    
    <!--Datepicker-->
    <!--<link rel="stylesheet" href="~/Contents/css/bootstrap/datepicker.css" />-->
    
    <!--jquery-ui-->
    <link rel="stylesheet" href="~/Contents/css/bootstrap/jquery-ui.css" />

    <!--bootstrap-datepicker-->
    <link rel="stylesheet" href="~/Contents/css/bootstrap/bootstrap-datepicker.css" />

    <!--Pluggin leaflet.awesome-markers-->
    <link rel="stylesheet" href="~/Contents/css/leaflet/leaflet.awesome-markers.css" />

    <!--leaflet.draw-->
    <link rel="stylesheet" href="~/Contents/css/leaflet/leaflet.draw.css" />



    @RenderSection("Styles", false)

</head>
<body>

    <div id="wrapper">
        <div id="header" class="container">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
    <div id="notificaciones">
        @Html.Partial("~/Views/Shared/_NotificacionesModal.cshtml")
    </div>
    <!-- jquery -->
    <script src="~/Contents/js/jquery-3.1.1.min.js"></script>

    <!-- bootstrap -->
    <script src="~/Contents/js/bootstrap.min.js"></script>

    <!--leaflet-->
    <script src="~/Contents/js/leaflet.js"></script>

    <!--bootstrap-datepicker.es.min-->
    <script src="~/Contents/js/bootstrap-datepicker.es.min.js"></script>

    <!--bootstrap-datepicker-->
    <script src="~/Contents/js/bootstrap-datepicker.js"></script>

    <!--bootstrap-datepicker-->
    <script src="~/Contents/js/bootstrap-datepicker.min.js"></script>

    <!--jquery-ui.min-->
    <script src="~/Contents/js/jquery-ui.js"></script>

    <!--leaflet.awesome-marker-->
    <script src="~/Contents/js/leaflet.awesome-markers.js"></script>

    <!--leaflet.awesome-markers.min-->
    <script src="~/Contents/js/leaflet.awesome-markers.min.js"></script>

    <!--Marker.Text-->
    <script src="~/Contents/js/Marker.Text.js"></script>

    <!--Icon.Cavas-->
    <script src="~/Contents/js/Icon.Canvas.js"></script>

    <!--Icon.draw-->
    <script src="~/Contents/js/leaflet.draw.js"></script>

    <!--Collapse-->
    <script type="text/javascript" src="~/Contents/js/collapse.js"></script>

    <!--Ir atras-->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });

    </script>

    <script type="text/javascript">
        function irAtras() {
            window.history.back();
        }
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
