@model Proyecto_Integracion.Models.Reporte
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crear Reporte";
}

@section Styles{
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/detalles-reporte.css" rel="stylesheet" />

}

@section Scripts{
    <script src="~/Contents/js/map-visualizar.js"></script>
}

<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Reporte</h4>
            </div>
            <!--<form class="form-horizontal">-->
            <div class="panel-body">
                <div class="form-group">
                    <p><strong>Fecha: </strong>@Model.FechaExpedicion.ToString("d")</p>
                </div>
                <div class="form-group">
                    <p><strong>Dirección: </strong>@Model.Ubicacion.Direccion</p>
                </div>
                <div class="form-group">
                    <label for="Descripcion" class="letra-prompt">Descripción</label>
                    <p class="text-justify">@Model.Descripcion</p>
                </div>
                <div class="form-group">
                    <p><strong>Tipo de Delito: </strong>@Model.Incidente</p>
                </div>
                <div class="form-group">
                    <input type="text" name="Latitud" id="Latitud" value="@Model.Ubicacion.Latitud" hidden>
                </div>
                <div class="form-group">
                    <input type="text" name="Longitud" id="Longitud" value="@Model.Ubicacion.Longitud" hidden>
                </div>

                <!--</form>-->
                <div class="form-group">
                    <div class="panel panel-default mapa-ubicacion_reporte">
                        <div class="panel-heading">
                            <h3 class="panel-title letra-prompt">
                                Ubicación del incidente
                            </h3>
                        </div>
                        <div class="panel-body" id="map">
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <a class="btn btn-warning" href="@Url.Action("Modificar","Reporte", new { Id = Model.Id})">
            Módificar
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <br />
        <br />
        <br />
        <a class="btn btn-danger" href="@Url.Action("Eliminar", "Reporte", new { Id = Model.Id})">
            Eliminar&nbsp;&nbsp;
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</div>