@model Proyecto_Integracion.Models.Reporte
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Detalles Reporte";
    var perfil_activo = Proyecto_Integracion.WebApp.Utils.SessionManager.PerfilActivo();
    var cuenta_activo = Proyecto_Integracion.WebApp.Utils.SessionManager.CuentaActiva();
}

@section Styles{
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/detalles-reporte.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Contents/js/map-visualizar.js"></script>
}

<div class="container">
    <br />
    <h2 class="letra-prompt"><strong>Detalles de Reporte</strong></h2>
    <hr />
    <div class="col-md-2 text-center">
        @if (perfil_activo != null && cuenta_activo != null && perfil_activo.Id == Model.Perfil.Id)
        {
            <a class="btn btn-primary" href="@Url.Action("MisReportes", "Perfil", new { Id = Model.Perfil.Id})">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                &nbsp;Regresar
            </a>
        }
        else
        {
        <a class="btn btn-success" onclick="irAtras()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            &nbsp;Regresar
        </a>
        }
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Reporte</h4>
            </div>
            <!--<form class="form-horizontal">-->
            <div class="panel-body">
                <div class="form-group">
                    <p><strong>Fecha: </strong>@Model.FechaExpedicion.ToString("d")</p>
                </div>
                <div class="form-group">
                    <p><strong>Dirección: </strong>@Model.Ubicacion.Direccion</p>
                </div>
                <div class="form-group">
                    <label for="Descripcion" class="letra-prompt">Descripción</label>
                    <p class="text-justify">@Model.Descripcion</p>
                </div>
                <div class="form-group">
                    @{
                        var incidente = Proyecto_Integracion.WebApp.Utils.EnumHelper<Proyecto_Integracion.Models.TipoIncidente>.GetDisplayValue(Model.Incidente);
                        <p><strong>Tipo de Delito: </strong>@incidente</p>
                    }
                </div>
                <div class="form-group">
                    <input type="text" name="Latitud" id="Latitud" value="@Model.Ubicacion.Latitud" hidden>
                </div>
                <div class="form-group">
                    <input type="text" name="Longitud" id="Longitud" value="@Model.Ubicacion.Longitud" hidden>
                </div>

                <!--</form>-->
                <div class="form-group">
                    <div class="panel panel-default mapa-ubicacion_reporte">
                        <div class="panel-heading">
                            <h3 class="panel-title letra-prompt">
                                Ubicación del incidente
                            </h3>
                        </div>
                        <div class="panel-body" id="map">
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Perfil</h4>
            </div>
            <div class="panel-body">
                <p><strong>Nombre:</strong><a href="@Url.Action("Detalles", "Perfil", new { Id = Model.Perfil.Id})"> @Model.Perfil.Nombre</a></p>
            </div>
        </div>
            @if (perfil_activo != null && cuenta_activo != null && perfil_activo.Id == Model.Perfil.Id)
            {
                <div class="text-center">
                    <br />
                    <br />
                    <a class="btn btn-warning" href="@Url.Action("Modificar", "Reporte", new { Id = Model.Id })">
                        Módificar
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modal-eliminar">
                        Eliminar&nbsp;&nbsp;
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            }
    </div>
</div>


<div id="modal-eliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Registrar-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title letra-prompt">¿Seguro que desea eliminar este repote?</h4>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Eliminar", "Reporte", new { Id = Model.Id })" type="button" class="btn btn-primary">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>