@model Proyecto_Integracion.Models.Reporte
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Módificar Reporte";
    var Perfil_Activo = Proyecto_Integracion.WebApp.Utils.SessionManager.PerfilActivo();
}

@section Styles{
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/detalles-reporte.css" rel="stylesheet" />

}

@section Scripts{
    <script src="~/Contents/js/maps-modificar.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
       $("#fecha").datepicker({
            dateFormat: 'yy-mm-dd'

       });
    });
</script>
}

<div class="container">
    <br />
    <h2 class="letra-prompt"><strong>Módificar Reporte</strong></h2>
    <hr />
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Modificar Reporte</h4>
            </div>
            <!--<form class="form-horizontal">-->
            @using (Html.BeginForm("Modificar", "Reporte", FormMethod.Post))
            {
                <fieldset>
                    @Html.HiddenFor(Model => Model.Id)
                    @Html.HiddenFor(Model => Model.FechaExpedicion)
                    @Html.HiddenFor(Model => Model.Perfil.Id)
                    @Html.HiddenFor(Model => Model.Perfil.Nombre)
                    @Html.HiddenFor(Model => Model.Perfil.UrlImagen)
                    @Html.HiddenFor(Model => Model.Perfil.Ubicacion)
                    @Html.Hidden("Id_Ubicacion", Model.Ubicacion.Id)
                    @Html.HiddenFor(Model => Model.Perfil.Cuenta)
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="FechaExpedicion" class="letra-prompt">Fecha</label>
                            <input name="fecha" id="fecha" value="@Model.FechaExpedicion.ToString("d")" class="form-control" />
                        </div>
                        @{ 
                        }
                        <div class="form-group">
                            <label for="Descripcion" class="letra-prompt">Descripción</label>
                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control textarea", @id = "Resumen", maxlength = "255", @value = Model.Descripcion })
                        </div>
                        <div class="form-group">
                            <label for="Incidente" class="letra-prompt">Tipo de incidente</label>
                            @{
                             @Html.EnumDropDownListFor(x => x.Incidente, "--Selecciona--",  new { @class = "form-control" })
                            }
                        </div>
                        <div class="form-group">
                            <input type="text" name="Latitud" id="Latitud" value="@Model.Ubicacion.Latitud" hidden>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Longitud" id="Longitud" value="@Model.Ubicacion.Longitud" hidden>
                        </div>

                        <!--</form>-->
                        <div class="form-group">
                            <div class="panel panel-default mapa-ubicacion_reporte">
                                <div class="panel-heading">
                                    <h3 class="panel-title letra-prompt">
                                        Ubicación del incidente
                                    </h3>
                                </div>
                                <div class="panel-body" id="map">
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="panel-footer text-right">
                        <input class="btn btn-primary" value="Modificar" type="submit" />
                        <a href="@Url.Action("Detalles", "Perfil", new { Id = Model.Perfil.Id})" type="button" class="btn btn-danger" >Cancelar</a>
                    </div>
                </fieldset>
            }

        </div>
    </div>
    
</div>