@{
    var cuenta_activa = Proyecto_Integracion.WebApp.Utils.SessionManager.CuentaActiva();
    var Perfil_activo = Proyecto_Integracion.WebApp.Utils.SessionManager.PerfilActivo();
}

<nav class="navbar navbar-default navbar-lm-white">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand texto-naranja letra-prompt" href="@Url.Action("Index", "Home")">
                <strong>ReportIt</strong>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home" aria-hidden="true"></i>  Inicio
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Faq", "Home")">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> FAQ
                    </a>
                </li>
                <li class="busqueda_avanzada">
                    <a href="@Url.Action("BusquedaAvanzada", "Home")">
                        <i class="fa fa-search-plus" aria-hidden="true"></i> Busqueda Avanzada
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (cuenta_activa != null)
                    {
                        if (Perfil_activo != null)
                        {
                            <li><a class="texto-naranja letra-prompt nuevo_reporte" href="@Url.Action("Crear","Reporte")">Nuevo Reporte</a></li>
                                <li>
                                    <a class="texto-naranja letra-prompt dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">
                                        <span class="fa fa-user"></span>
                                        <strong> @Perfil_activo.Nombre</strong>
                                        <span class="caret texto-naranja"></span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="@Url.Action("Detalles","Perfil",new { Id = Perfil_activo.Id})">Mi Perfil</a></li>
                                            <li><a href="@Url.Action("MisReportes","Perfil", new { page = 1 ,Id = Perfil_activo.Id})">Mis Reportes</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.Action("CambiarPassword","Cuenta")">Cambiar Contraseña</a></li>
                                            <li><a href="@Url.Action("Salir","Cuenta")">Salir</a></li>
                                        </ul>
                                    </a>
                                </li>
                        }
                    }
                    else
                    {
                        <li><a class="texto-naranja btn_ingresar" href="@Url.Action("Ingresar","Cuenta")">Ingresar</a></li>
                    }
                }


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="page-header letra-prompt text-justify header_1">
    @if (Perfil_activo != null && cuenta_activa != null)
    {
        <h1>ReportIt es una nueva forma de publicar incidentes delictivos.</h1>
        <h1><a href="@Url.Action("Detalles", "Perfil", new { Id = Perfil_activo.Id})" class="texto-naranja">@Perfil_activo.Nombre</a> aporta un granito de arena! <small>Si ves algo di algo</small></h1>
    }
    else
    {
    <h1>ReportIt es una nueva forma de publicar incidentes delictivos.</h1>
    <h1>¡<a class="texto-naranja" href="@Url.Action("Crear", "Cuenta")">Registrate</a> y comienza a reportar todo! <small>Si ves algo di algo</small></h1>
    }
</div>
<div class="jumbotron text-center header_2" style="margin-top:5px">
    <h1 class="letra-prompt label_busca">Busca algun incidente</h1>
    <div class="btn-group btn-group-lg filtros" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="btn_all" data-toggle="collapse" href="#collapseAll" aria-expanded="true" aria-controls="collapseAll">Todo</button>
        <button type="button" class="btn btn-default" id="btn_direccion" data-toggle="collapse" href="#collapseDireccion" aria-expanded="true" aria-controls="collapseDireccion">Dirección</button>
        <button type="button" class="btn btn-default" id="btn_fecha" data-toggle="collapse" href="#collapseFecha" aria-expanded="true" aria-controls="collapseFecha">Fecha</button>
        <button type="button" class="btn btn-default" id="btn_palabrac" data-toggle="collapse" href="#collapsePalabra" aria-expanded="true" aria-controls="collapsePalabra">Descripción</button>
        <button type="button" class="btn btn-default" id="btn_incidente" data-toggle="collapse" href="#collapseIncidente" aria-expanded="true" aria-controls="collapseIncidente">Tipo de delito</button>
    </div>
    <br />
    <br />
    <br />

    <div class="collapse" id="collapseFecha">
        @Html.Partial("~/Views/Home/_CollapseDropDown_Fecha.cshtml")
    </div>

    <div class="collapse" id="collapseMiUbicacion">
        @Html.Partial("~/Views/Home/_CollapseDropDown_MiUbicacion.cshtml")
    </div>


    <div class="collapse" id="collapseAll">
        @Html.Partial("~/Views/Home/_CollapseDropDown_All.cshtml")
    </div>

    <div class="collapse" id="collapseDireccion">
        @Html.Partial("~/Views/Home/_CollapseDropDown_Direccion.cshtml")
    </div>



    <div class="collapse" id="collapsePalabra">
        @Html.Partial("~/Views/Home/_CollapseDropDown_Palabra.cshtml")
    </div>


    <div class="collapse" id="collapseIncidente">
        @Html.Partial("~/Views/Home/_CollapseDropDown_TipoIncidente.cshtml", new Proyecto_Integracion.Models.Reporte())
    </div>
    <br />
</div>