@model PagedList.IPagedList<Proyecto_Integracion.Models.Reporte>
@using PagedList.Mvc;
@{
    Layout = "~/Views/_Layout.cshtml";
    //var Perfil_Activo = Proyecto_Integracion.WebApp.Utils.SessionManager.PerfilActivo();
    //var Cuenta_Activa = Proyecto_Integracion.WebApp.Utils.SessionManager.CuentaActiva();
}

@section Styles{
    <link href="~/Contents/css/Mis-Reportes.css" rel="stylesheet" />
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/Letra_Iconos.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Contents/js/maps-buscador.js"></script>
}
<div class="container">
    <!--Mis ultimos reportes-->
    <div class="col-md-12">
        <br />
        <h2 class="letra-prompt"><strong>Resultados</strong></h2>
        <hr />
        <div class="panel panel-default ubicaciones_mis_reportes">
            <div class="panel-heading">
                <h4 class="panel-title">Ubicaciones</h4>
            </div>
            <div class="panel-body" id="map">
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> Resultados de Busqueda : <strong>@Model.First().Incidente</strong></h4>
            </div>
            <div class="panel-body">
                <div class="list-group text-right">
                    <label>Pagina @( Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</label>
                    @Html.PagedListPager(Model, page => Url.Action("Busqueda", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, incidente = Model.First().Incidente }))
                    <div class="row" style="display: flex; flex-wrap: wrap;">
                        <input id="report_count" value="@Model.Count()" hidden />
                        @{
                            var i = 0;
                            foreach (var reporte in Model)
                            {


                                <div class="col-md-6 reporte" style="display: flex; flex-wrap: wrap;">
                                    <a href="@Url.Action("Detalles", "Reporte", new { Id = reporte.Id})" class="list-group-item">

                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <i class="fa fa-map-marker fa-3x texto-naranja" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body text-justify">
                                                @{
                                                    var incidente = Proyecto_Integracion.WebApp.Utils.EnumHelper<Proyecto_Integracion.Models.TipoIncidente>.GetDisplayValue(reporte.Incidente);
                                                    <input id="incidente+@i" value="@reporte.Incidente" hidden />
                                                    <h4 class="media-heading"><strong>Incidente: </strong>@incidente</h4>
                                                }
                                                <p><strong>Descripción: </strong>@reporte.Descripcion</p>
                                                <p><strong>Fecha: </strong> @reporte.FechaExpedicion.ToString("d")</p>
                                                <p><strong>Dirección: </strong> @reporte.Ubicacion.Direccion</p>
                                                <input id="Latitud+@i" name="Latitud+@i" value="@reporte.Ubicacion.Latitud" hidden />
                                                <input id="Longitud+@i" value="@reporte.Ubicacion.Longitud" hidden />
                                            </div>
                                        </div>

                                    </a>
                                </div>
                                                        i++;
                                                    }
                        }
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
