@model Proyecto_Integracion.Models.Estanteria
@{
    Layout = "~/Views/_Layout.cshtml";
    var con = 0;
    var perfil_activo = Proyecto_Integracion.WebApp.Utils.SessionManager.PerfilActivo();
}
@section Styles{
    <link href="~/Contents/css/Maps.css" rel="stylesheet" />
    <link href="~/Contents/css/index.css" rel="stylesheet" />
}
@section Scripts{
    <!--<script src="~/Contents/js/Google-Maps-Night.js"></script>-->
    <script type="text/javascript">
        $(".navbar-search").hide();

        $("#date").datepicker({
            dateFormat: 'yy-mm-dd',
            orientation: 'bottom'
        });
    </script>
    <script src="~/Contents/js/maps-buscador.js"></script>
}


<div class="container">
    <div class="page-header letra-prompt text-justify">
        <h1>ReportIt es una nueva forma de publicar incidentes delictivos.</h1>
        <h1>¡<a class="texto-naranja" href="@Url.Action("Crear", "Cuenta")">Registrate</a> y comienza a reportar todo! <small>Si ves algo di algo</small></h1>
    </div>
    <div class="jumbotron text-center">
        <h1 class="letra-prompt">Busca algun incidente</h1>
        <div class="btn-group btn-group-lg filtros" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="btn-all" data-toggle="collapse" href="#collapseAll" aria-expanded="true" aria-controls="collapseAll">Todo</button>
            <button type="button" class="btn btn-default" id="btn_direccion" data-toggle="collapse" href="#collapseDireccion" aria-expanded="true" aria-controls="collapseDireccion">Dirección</button>
            <button type="button" class="btn btn-default" id="btn_fecha" data-toggle="collapse" href="#collapseFecha" aria-expanded="true" aria-controls="collapseFecha">Fecha</button>
            <button type="button" class="btn btn-default" id="btn_palabrac" data-toggle="collapse" href="#collapsePalabra" aria-expanded="true" aria-controls="collapsePalabra">Palabra clave</button>
            <button type="button" class="btn btn-default" id="btn_incidente" data-toggle="collapse" href="#collapseIncidente" aria-expanded="true" aria-controls="collapseIncidente">Tipo de delito</button>
        </div>
        <br />
        <br />
        <br />

        <div class="collapse" id="collapseAll">
            @Html.Partial("~/Views/Home/_CollapseDropDown_All.cshtml")
            <br />
            <hr />
        </div>

        <div class="collapse" id="collapseDireccion">
            <div class="card card-block">
                @Html.Partial("~/Views/Home/_CollapseDropDown_Direccion.cshtml")
                <br />
                <hr />
            </div>
        </div>

        <div class="collapse" id="collapseFecha">
            <div class="card card-block">
                @Html.Partial("~/Views/Home/_CollapseDropDown_Fecha.cshtml")
                <br />
                <hr />
            </div>
        </div>


        <div class="collapse" id="collapsePalabra">
            <div class="card card-block">
                @Html.Partial("~/Views/Home/_CollapseDropDown_Palabra.cshtml")
                <br />
                <hr />
            </div>
        </div>


        <div class="collapse" id="collapseIncidente">
            <div class="card card-block">
                @Html.Partial("~/Views/Home/_CollapseDropDown_TipoIncidente.cshtml", new Proyecto_Integracion.Models.Reporte())
                <br />
                <hr />
            </div>
        </div>
        <br />
    </div>

    <div class="panel panel-default panel-centro-ayuda">
        <div class="panel-heading">
            <h3 class="panel-title">Incidentes en mis alrededores</h3>
        </div>
        <div class="panel-body" id="map">
        </div>
    </div>

@{
    var ubicacion = Proyecto_Integracion.WebApp.Utils.GeoLocation.ubicacion();
    var reportes = Model.Buscar("", ubicacion, 20);
        <input id="report_count" value="@reportes.Count" hidden />
        var i = 0;
        foreach (var reporte in @reportes)
        {


            var incidente = Proyecto_Integracion.WebApp.Utils.EnumHelper<Proyecto_Integracion.Models.TipoIncidente>.GetDisplayValue(reporte.Incidente);
                <input id="incidente+@i" value="@reporte.Incidente" hidden />
                <input id="Latitud+@i" name="Latitud+@i" value="@reporte.Ubicacion.Latitud" hidden />
                <input id="Longitud+@i" value="@reporte.Ubicacion.Longitud" hidden />
                i++;


            }
        }



                <div class="row">
                    <hr />
                    <div class="col-md-7">
                        <h2 class="featurette-heading letra-prompt">¿Te  han asaltado y no hiciste nada?</h2>
                        <p class="lead">¿Por qué mejor nos ayudas reportando todos esos delitos?</p>
                    </div>
                    <div class="col-md-5">
                        <div style="background-color: white">
                            <img class="img-responsive center-block img-thumbnail" src="~/Contents/img/Index/stop.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive center-block img-thumbnail" src="~/Contents/img/Index/manos_sucias.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading letra-prompt">Somos una aplicación que se interesa por tu bienestar poniento a tu alcance informacion y ayuda para incidentes delictivos por tu CDMX.</h2>
                        <p class="lead">Nuestro objetivo es ayudarte a tener mejor seguridad conociendo la incidencia de delitos.</p>
                        <p class="lead"><big><a href="@Url.Action("Crear", "Cuenta")">Regístrate</a>, <a href="@Url.Action()"> busca un delito</a><big> y comienza a cuidar de ti y tu familia</p>
                    </div>
                </div>
                <br />
                <br />
                <br />

                <ul>
                    @{
                        foreach (var value in Proyecto_Integracion.WebApp.Utils.EnumHelper<Proyecto_Integracion.Models.TipoIncidente>.GetValues(Proyecto_Integracion.Models.TipoIncidente.ExplotacionSexual))
                        {

                            var description = Proyecto_Integracion.WebApp.Utils.EnumHelper<Proyecto_Integracion.Models.TipoIncidente>.GetDisplayValue(value);
                            <li>@Html.DisplayFor(e => description)</li>
                        }
                    }

                </ul>
            </div>